.navbar{
    box-sizing: border-box;
    padding: 1rem 15rem;
    /* background-color: transparent; */
    background-color: black;
    position: absolute;
    width: 100%;
    align-items: center;
    z-index: 20;
}
.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
.logo{
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.menu-items > ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 3rem;
}
.ul > li{
    font-size: 16px;
    cursor: pointer;
}
button{
    font-size: 16px;
    padding: 10px 26px;
    background-color: #01BF71;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.humburg{
    display: none;
    padding: 1rem 0;
}
.menulist{
    padding: 0;
    padding-top: 4rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin: auto;
    justify-content: center;
    background-color: black;
    color: #fff;
    font-size: 22px;
    /* width: 100%; */
    z-index: 20;
    position: absolute;
    width: 100%;
    top: 5rem;
}
.menulist > li > button{
    margin: 5rem;
}



/* Responsive Design */
@media screen and (max-width: 1245px) {
    .navbar{
        box-sizing: border-box;
        padding: 1rem 10rem;
    }
}
@media screen and (max-width: 991px) {
    .navbar{
        box-sizing: border-box;
        padding: 1rem 5rem;
    }
    .menu-items > ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
}
@media screen and (max-width: 768px) {
    .navbar{
        box-sizing: border-box;
        padding: 1rem 3rem;
    }
    .menu-items > ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 1.3rem;
    }
}
@media screen and (max-width: 625px) {
    .menu-items{
        display: none;
    }
    .btn{
        display: none;
    }
    .humburg{
        display: flex;
    }
}
@media screen and (max-width: 458px) {

}
@media screen and (max-width: 361px) {

}
@media screen and (max-width: 321px) {
  
}